<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71990432098-u3grio0k0mcfadr2ksat627oakdh6ena.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71990432098-u3grio0k0mcfadr2ksat627oakdh6ena</string>
	<key>API_KEY</key>
	<string>AIzaSyDBUd4SegKoyEO6To3n_ildJVlMJoryb8I</string>
	<key>GCM_SENDER_ID</key>
	<string>71990432098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-d4422</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-d4422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71990432098:ios:8d25c412b93156a0fa5c3b</string>
</dict>
</plist>